/*
 *  THE UNNAMED CSS
 */

* {
	margin: 0;
	padding: 0;
}

body {
	background: url('img/background.png') #191919;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	text-shadow: 1px 1px 1px black;
	color: #bbb;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background: transparent;
}

body::-webkit-scrollbar-track-piece {
	background: #222;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(128, 128, 128, 0.3);
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-corner {
	background: transparent;
}

h2, h3 {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
	margin: 10px 0;
	font-size: 22px;
	color: #6ddc00;
}

h3 {
	margin: 0 0 3px 0;
	font-size: 16px;
	font-weight: normal;
}

img {
	border: none;
}

a {
	color: #6ddc00;
	text-decoration: none;
	-webkit-transition: background .3s ease, color .3s ease;
	-moz-transition: background .3s ease, color .3s ease;
	-ms-transition: background .3s ease, color .3s ease;
	-o-transition: background .3s ease, color .3s ease;
	transition: background .3s ease, color .3s ease;
}

form textarea {
	width: 660px;
	max-width: 660px;
	height: 150px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 1px 1px 2px black;
	color: #bbb;
	font-size: 12px;
	padding: 10px;
	outline: none;
	border: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}

pre {
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
	margin: 10px 0;
	max-height: 200px;
}

code {
	font-family: 'Droid Sans Mono', monospace;
}

pre > code {
	float: left;
}

a:hover {
	color: #fff !important;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.alert {
	box-shadow: inset 1px 1px 2px black;
	text-align: center;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
	margin: 0 0 20px 0
}

/* ----- Main elements ----- */

#top-background {
	background: url('img/background-top.png') repeat-x center top;
}

#page {
	width: 980px;
	margin: auto;
	padding-top: 30px;
}

#logo {
	float: left;
	height: 75px;
}

#sponsor {
	text-align: right;
	height: 75px;
}

/* ----- Sections ----- */

.section {
	margin: 20px 0;
	background: url('/layout/img/line-hr.gif') repeat-x top;
	border-top: 1px solid rgba(0,0,0,0);
}

.section-light {
	background: url('/layout/img/shade.png') no-repeat top;
	border-top: 1px solid rgba(0,0,0,0);
}

.section-content {
	margin-top: 20px;
}

/* ----- Three/Two cols layout ----- */

.col {
	float: left;
	margin-left: 20px;
	padding-left: 20px;
}

.col:first-child {
	margin: 0;
	padding: 0;
}

/* 3-col */
.threecols-layout {
	background: url('img/threecol.gif') center;
}

.threecols-layout .col1, .threecols-layout .col3 {
	width: 260px;
}

.threecols-layout .col2 {
	width: 380px;
}

/* 2-col */

.twocols-layout, .twocols-alt-layout, .twocols-split-layout {
	background-image: url('/layout/img/line-col.gif');
	background-repeat: repeat-y;
	background-position: 700px 0;
}

.twocols-layout .col1 {
	width: 680px;
}

.twocols-layout .col2 {
	width: 260px;
}

/* 2-col alt */

.twocols-alt-layout {
	background-position: 220px 0;
}

.twocols-alt-layout .col1 {
	width: 200px;
}

.twocols-alt-layout .col2 {
	width: 740px;
}

/* Split layout */

.twocols-split-layout {
	background-position: 490px 0;
}

.twocols-split-layout .col {
	width: 470px;
}

/* Special cases */
.col-footer {
	width: 230px;
	padding-left: 0px;
}

a .col-slide:first-child {
	margin-left: 20px;
	padding-left: 0px;
}

a:first-child .col-slide:first-child {
	margin-left: 0px;
}

.col-footer ul {
	list-style: none;
}

.col-footer li {
	margin-top: 5px;
}

.col-footer .footrss {
	font-style: italic;
	color: #545454;
}

.col-footer a {
	color: #bbb;
}

.col-footer a:hover {
	color: #fff;
}

.col-footer .stats, .col-footer .links, .col-footer .mmochampion, .col-footer .bluetracker {
	padding: 0 0 0 26px;
}

.col-footer .stats {
	background: url('/layout/img/stats.png') no-repeat left center;
}

.col-footer .links {
	background: url('/layout/img/links.png') no-repeat left center;
}

.col-footer .bluetracker {
	background: url('/layout/img/tracker.png') no-repeat left center;
}

.col-footer .mmochampion {
	background: url('/layout/img/rss.png') no-repeat left center;
}

/* ----- Header ----- */

#menu {
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	background: rgba(0, 0, 0, 0.5);
}

#menu ul {
	list-style: none;
}

#menu li {
	height: 40px;
	display: block;
	float: left;
	padding: 10px 0 10px 0;
	margin: 0 0 0 10px;
}

#menu ul ul {
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height .3s ease;
	-moz-transition: height .3s ease;
	-ms-transition: height .3s ease;
	-o-transition: height .3s ease;
	transition: height .3s ease;
}

#menu li:hover ul {
	height: 60px;
}

#menu a {
	color: #bbb;
	text-shadow: none;
	position: relative;
	display: inline-block;
	padding: 10px;
}

#menu li.sub > a {
	padding-right: 30px;
}

#menu li.sub > a:after {
	position: absolute;
	top: 11px;
	right: 11px;
	margin: 0 0 0 5px;
	background-image: url('bootstrap/img/glyphicons-halflings-white.png');
	background-position: -313px -119px;
	width: 12px;
	height: 14px;
	content: "";
}

#menu li.sub > a:hover:after, #menu li.sub > a.active:after {
	background-image: url('bootstrap/img/glyphicons-halflings.png');
}

#menu a.active {
	background: #6ddc00;
	color: #000;
}

#menu a:hover {
	background: #6ddc00;
	color: #000 !important;
}

#home-link {
	position: relative;
	top: -1px;
	height: 20px;
	width: 20px;
	background: url('/layout/img/home-white.png') center no-repeat;
}

a:hover #home-link {
	background: url('/layout/img/home-black.png') center no-repeat;
}

#top-wrapper {
	position: relative;
	margin-top: 30px;
}

#top {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 20;
}

#slider-news {
	background: url('http://image.jeuxvideo.com/images/pc/w/o/world-of-warcraft-mists-of-pandaria-pc-1319229630-001.jpg') center;
}

#slide-news {
	height: 250px;
}

#login-bar {
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
}

#logon {
	float: right;
}

#login-bar a {
	font-weight: bold;
	color: #bbb;
}

#login-bar a:hover {
	color: #FFF;
}

#logon a {
	margin-left: 20px;
}

#social {
	position: absolute;
	left: 100%;
	top: 70px;
	overflow: hidden;
}

#social img {
	height: 40px;
	display: block;
	position: relative;
	left: -20px;
	opacity: 0.5;
	margin-bottom: 10px;
	-webkit-transition: left .3s ease;
	-moz-transition: left .3s ease;
	-ms-transition: left .3s ease;
	-o-transition: left .3s ease;
	transition: left .3s ease;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	background: rgba(0, 0, 0, 0.6);
}

#social img:hover {
	left: 0px;
	opacity: 1;
}

#slider-blogs {
	position: relative;
}

.col-slide {
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	height: 150px;
	margin-left: 20px;
	width: 230px;
	overflow: hidden;
}

.col-slide img {
	width: 230px;
	height: 150px;
}

#slider-blogs a:first-child .col-slide {
	margin: 0;
}

.slide-title-wrapper {
	right: 0;
	position: absolute;
	bottom: -18px;
	left: 0;
	padding: 5px;
	background: rgba(0, 0, 0, 0.8);
	-webkit-transition: bottom .3s ease, background-color .3s ease;
	-moz-transition: bottom .3s ease, background-color .3s ease;
	-ms-transition: bottom .3s ease, background-color .3s ease;
	-o-transition: bottom .3s ease, background-color .3s ease;
	transition: bottom .3s ease, background-color .3s ease;
}

.col-slide:hover .slide-title-wrapper {
	bottom: 0px;
	background: rgba(0, 0, 0, 0.925);
}

.slide-title {
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.slide-author, .slide-comments {
	color: #545454;
	font-size: 12px;
	text-transform: none;
	position: relative;
	bottom: -20px;
	-webkit-transition: bottom .3s ease;
	-moz-transition: bottom .3s ease;
	-ms-transition: bottom .3s ease;
	-o-transition: bottom .3s ease;
	transition: bottom .3s ease;
}

.slide-comments {
	float: right;
}

.col-slide:hover .slide-author, .col-slide:hover .slide-comments {
	bottom: 0;
}

#slider-blogs a {
	color: #bbb;
}

#slider-blogs a:hover {
	color: #fff;
}

.content-block {
	margin-bottom: 20px;
}

.last-news {
	min-height: 100px;
	padding-left: 120px;
	position: relative;
}

.last-news > a {
	color: #bbb;
}

.last-news:hover > a {
	color: #FFF;
}

.last-news a h3 {
	color: inherit;
}

.last-news-infos {
	color: #545454;
	margin-bottom: 3px;
}

.last-news-img {
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.last-news-img-bar {
	background: url('img/loupe.png') center no-repeat rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom: -35px;
	left: 0;
	right: 0;
	height: 35px;
	-webkit-transition: bottom .3s ease;
	-moz-transition: bottom .3s ease;
	-ms-transition: bottom .3s ease;
	-o-transition: bottom .3s ease;
	transition: bottom .3s ease;
}

.last-news:hover .last-news-img-bar {
	bottom: 0;
}

.last-news-img img {
	width: 100%;
	height: 100%;
}

.last-news-infos a {
	color: inherit;
}
.last-news-infos a:hover {
	color: #fff;
}

.last-news .ucode > :first-child {
	margin-top: 0;
}

.last-news .ucode > :last-child {
	margin-bottom: 0;
}

#split-articles-layout .box:last-child {
	margin-bottom: 0px;
}

.last-news .readmore {
	margin-top: 20px;
	text-align: right;
}

.last-news .readmore .button {
	margin-right: 0px;
}

#copyright {
	color: #545454;
}

#copyright a {
	color: inherit;
	font-weight: bold;
}

#copyright a:hover {
	color: #6ddc00;
}

/* ----- Misc ----- */

.right {
	float: right;
}

.hr {
	margin: 20px 0;
	height: 2px;
	background: url('img/line-hr.gif') repeat-x;
}

.col > *:first-child {
	margin-top: 0px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	clear: both;
}

.box {
	padding: 20px;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

#ie-warning {
	background: #fff;
	padding: 20px;
	border: 10px solid #000;
	margin-bottom: 30px;
	font-size: 20px;
	color: #000;
	font-family: Arial;
	text-shadow: none;
	text-align: center;
}

#ie-warning #outdated {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

#ie-warning p, #ie-warning ul {
	margin-bottom: 10px;
}

#ie-warning li {
	display: inline;
}

#ie-warning a {
	color: blue;
	text-decoration: underline;
	margin: 0px 10px;
}

.button-wrapper {
	margin-top: 20px;
}

.button {
	font-size: 12px;
	font-family: 'Open Sans', Arial, sans-serif;
	border: 0;
	color: #bbb;
	cursor: pointer;
	margin: 0px 5px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
	display: inline-block;
	box-shadow: inset 1px 1px 2px #000;
	position: relative;
	-webkit-transition: background .3s ease, color .3s ease;
	-moz-transition: background .3s ease, color .3s ease;
	-ms-transition: background .3s ease, color .3s ease;
	-o-transition: background .3s ease, color .3s ease;
	transition: background .3s ease, color .3s ease;
}

.pagination .active {
	background: rgba(80, 80, 80, 0.3) !important;
	color: #fff;
}

a.button {
	padding: 10px 25px 10px 10px;
}

a.button:after {
	position: absolute;
	top: 11px;
	right: 10px;
	margin: 0 0 0 5px;
	background-image: url('bootstrap/img/glyphicons-halflings-white.png');
	background-position: -456px -72px;
	width: 12px;
	height: 14px;
	content: "";
}

.button:first-child {
	margin-left: 0;
}


.pagination {
	text-align: center;
}

.pagination a.button {
	padding:10px;
}


.pagination a.button:after{
	display:none;
}

.pagination a.button.prev {
	padding-left: 25px;
}

.pagination a.button.next {
	padding-right: 25px;
}

.pagination a.button.prev:after, .pagination a.button.next:after {
	display: block;
}

.pagination a.button.prev:after {
	background-position: -432px -72px;
	right: auto;
	left: 3px;
}

.button:hover {
	color: #6ddc00;
	background: rgba(0, 0, 0, 0.6);
}

.last_mod{
	font-size:11px;
	font-style:italic;
	color:#545454;
}

.newsfeed {
	padding-left: 28px;
	margin-top: 10px;
}

.newsfeed .time {
	color: #545454;
}

.newsfeed .icon {
	margin-left: -28px;
	margin-right: 10px;
	float: left;
	width: 18px;
	height: 18px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.newsfeed a{
	color:#BBB;
}

.video-row {
	margin-bottom: 20px;
}

.video-row a:first-child .col-slide {
	margin: 0;
}

.video-row a {
	color: #bbb;
}

.video-row a:hover {
	color: #FFF;
}

#rankingWrapper {
	text-align: center;
}

#rankingWrapper td {
	vertical-align: bottom;
	line-height: 28px;
}

#rankingServer span {
	line-height: 60px;
	font-size: 76px;
	font-weight: 700;
}

#rankingServerLabel {
	margin-top: 5px;
	font-weight: 700;
}

#rankingProgress span, #rankingFr span, #rankingRegion span, #rankingWorld span {
	font-size: 1.8em;
}

.article-body {
	text-align: justify;
}

.article-comments {
	float: right;
}

#share {
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

#share a {
	float: left;
	margin-left: 5px;
}

#share img {
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	background: rgba(0, 0, 0, 0.6);
	width: 48px;
	height: 48px;
	-webkit-transition: background .3s ease, opacity .3s ease;
	-moz-transition: background .3s ease, opacity .3s ease;
	-ms-transition: background .3s ease, opacity .3s ease;
	-o-transition: background .3s ease, opacity .3s ease;
	transition: background .3s ease, opacity .3s ease;
	opacity: 0.5;
}

#share img:hover {
	opacity: 1;
	background: rgba(0, 0, 0, 0.6);
}

#share a:first-child {
	margin-left: 0;
}

.comment-block {
	padding: 15px;
	background: rgba(0, 0, 0, 0.3);
	margin: 0 0 20px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.author-avatar {
	background: white;
	float: left;
	width: 60px;
	height: 60px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.author-avatar img {
	width: 100%;
	height: 100%;
}

.comment {
	margin-left: 75px;
}

.comment-body {
	text-align: justify;
}

.comment-body > :last-child {
	margin-bottom: 0;
}

.comment-top {
	margin: 0 0 10px;
}

.comment-top a {
}

.comment-date {
	margin-left: 5px;
	color: #545454;
}

.comment-actions {
	float: right;
}

.comment-actions a {
	color: #545454;
	margin-left: 20px;
}

.comment-actions a:hover {
	color: #FFF;
}

#sommaire-article a {
	color: #bbb;
}

#sommaire-article a:hover {
	color: #fff;
}

#sommaire-article ol {
	color: #545454;
	margin: 0 0 0 20px;
	list-style-type: upper-roman;
}

#sommaire-article li {
	margin-top: 3px;
}

#sommaire-article ol ol {
	list-style-type: decimal;
}

#sommaire-article ol ol ol {
	list-style-type: lower-alpha;
}

#sommaire-article ol ol ol ol {
	list-style: square;
}

#about-author {
}

#about-author-avatar {
	margin-top: 1px;
	float: left;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	width: 84px;
	height: 84px;
}

#about-author-avatar img {
	height: 100%;
	width: 100%;
	background: white;
}

#about-author-desc {
	padding-left: 100px;
}

#about-author-contact {
	text-align: center;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	margin-top: 10px;
}

#about-author-contact a {
	color: inherit;
	margin-right: 10px;
	margin-left: 10px;
}

.links-list-item {
	margin-top: 10px;
}

.links-list-item a {
	color: #bbb;
}

.links-list-title {
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 3px;
}

.links-list-sub, .links-list-sub a {
	color: #545454;
}

#menu-inbox .new-message{
	color:#6ddc00;
}

#menu-inbox a{
	position:relative;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	color:#bbb;
	background:rgba(0,0,0,0.3);
	padding:10px;
	text-transform:uppercase;
	font-size:15px;
	font-family: 'PT Sans Narrow', sans-serif;
	margin-bottom:10px;
	display:block;
}

#menu-inbox a:hover{
	color:#FFF !important;
}

.progress-bar{
	background:rgba(109,220,0, 0.15);
	height:2px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.progress-indicator{
	height:2px;
	}
	
/* ---------------------
 Progression
 --------------------- */

#progression h2 {
	text-transform:none;
	color:#FFF;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

#progression {
	margin-top: 20px;
}

.noir {
	background: rgba(15,15,15,0.7);
	padding: 10px;
	margin-top:10px;
}

.progress-block {
	color: white;
	width: 660px;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	
}

#dragonsoul {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/dragonsoul.png") center;
}

#icc {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/icc.png") center top;
}

#halion {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/sanctum.png");
	background-position: center -160px;
}

#edc {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/edc.png") center;
}

#uldu {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/uldu.png") center;
}

#quatrevents {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/trone.png") center;
}

#firelands {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/firelands.png") center;
}

#ailenoire {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/ailenoire.png") center;
}

#crepuscule {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/crepuscule.png") center;
}

#hof {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/hof.png");
	background-position: center -173px;
}

#terrace {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/terrace.png");
	background-position: center -75px;
}

#mogushan {
	background: url("http://www.unnamed.eu/themes/v2/img/progress/mogushan.png");
	background-position: center -100px;
}

.green{
	color:#6DDC00;
}

.red{
	color:red;
}

.yellow{
	color:yellow;
}